{% extends 'base.html' %}

{% block title %} File Display {% endblock %}
{% block content %}
    <div>
        {% for file in object_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ file.description }}</h5>
                    <a href="{{ file.document }}" class="card-link">View Document</a>
                    <img src="{{ file.document.url }}">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

